{
  "openapi": "3.1.0",
  "info": {
    "title": "Lendaswap API",
    "description": "Seamlessly swap between BTC and Stables on Ethereum/Polygon/etc",
    "license": {
      "name": ""
    },
    "version": "0.2.52"
  },
  "servers": [
    {
      "url": "https://api.satora.io"
    }
  ],
  "paths": {
    "/api/delegate/cosigner-pk": {
      "get": {
        "tags": [
          "delegate"
        ],
        "summary": "Get the delegate cosigner public key.",
        "description": "Clients need this key when preparing delegate PSBTs so the backend\ncan participate in the batch ceremony as a cosigner.",
        "operationId": "get_cosigner_pk",
        "responses": {
          "200": {
            "description": "Cosigner public key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CosignerPkResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/delegate/settle": {
      "post": {
        "tags": [
          "delegate"
        ],
        "summary": "Settle a delegated batch.",
        "description": "The client prepares and signs delegate PSBTs (intent + forfeits), then\nPOSTs them here. The backend reconstructs the `Delegate` struct and runs\nthe full Ark batch ceremony on the client's behalf.\n\nThis endpoint blocks until the batch completes (~10-30s).",
        "operationId": "settle_delegate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SettleDelegateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Settlement completed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SettleDelegateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/swap/arkade-evm/{id}/collab-refund": {
      "post": {
        "tags": [
          "swap-btc-evm"
        ],
        "summary": "Collaboratively refund spendable VTXOs.",
        "description": "The client builds an offchain transaction (ark_tx + checkpoints) spending the VHTLC\nvia the `refund_script` leaf, signs as sender, and sends the partially-signed PSBTs here.\nThe server cosigns as receiver and returns the countersigned PSBTs.\nThe client then submits to Arkade for the server (3rd) signature.",
        "operationId": "collab_refund",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Swap ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CollabRefundRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Countersigned PSBTs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollabRefundResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Refund not allowed in current swap state",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Swap not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/swap/arkade-evm/{id}/collab-refund-delegate": {
      "post": {
        "tags": [
          "swap-btc-evm"
        ],
        "summary": "Collaboratively refund recoverable VTXOs via the delegate batch flow.",
        "description": "The client prepares delegate PSBTs (intent_proof + forfeits) spending the VHTLC\nvia the `refund_script` leaf, signs as sender, and sends the partially-signed PSBTs here.\nThe server cosigns as receiver and returns the countersigned PSBTs.\nThe client then calls `/api/delegate/settle` to complete the batch ceremony.",
        "operationId": "collab_refund_delegate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Swap ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CollabRefundDelegateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Countersigned delegate PSBTs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollabRefundDelegateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Refund not allowed in current swap state",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Swap not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/swap/arkade-lightning/{id}/collab-refund": {
      "post": {
        "tags": [
          "swap-btc-arkade"
        ],
        "summary": "Collaboratively refund an Arkade-to-Lightning VHTLC.",
        "description": "The client builds and partially signs the refund transaction, then POSTs it\nhere. The server obtains the receiver cosignature and returns the result.\nOnly allowed when the swap is in `ServerWontFund` or `ClientInvalidFunded`\nstate.\n\nAfter receiving the response the client must:\n1. Submit the cosigned PSBTs to the Arkade server for the server signature\n2. Merge all checkpoint signatures and sign as sender\n3. Finalize the transaction with the Arkade server",
        "operationId": "collab_refund_arkade_to_lightning",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Swap ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ArkadeToLightningCollabRefundRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Cosigned PSBTs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArkadeToLightningCollabRefundResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Refund not allowed in current swap state",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Swap not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/swap/{id}/collab-refund-evm": {
      "post": {
        "tags": [
          "swap-evm-btc"
        ],
        "summary": "Collaboratively refund an EVM HTLC before timelock expiry.",
        "description": "The client signs a coordinator-level `CollabRefund` EIP-712 message authorizing\nthe refund parameters. The server cosigns with an HTLC-level `Refund` signature\n(as claimAddress, waiving the timelock) and submits the transaction on-chain.\n\nSupports EVM-to-Arkade, EVM-to-Bitcoin, and EVM-to-Lightning swaps.",
        "operationId": "collab_refund_evm",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Swap ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CollabRefundEvmRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "EVM HTLC refunded successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollabRefundEvmResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Refund not allowed in current swap state",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Swap not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/swap/{id}/collab-refund-evm/params": {
      "get": {
        "tags": [
          "swap-evm-btc"
        ],
        "summary": "Get EIP-712 parameters for collaborative EVM HTLC refund.",
        "description": "Returns the addresses, amounts, and struct fields the client needs to\nconstruct and sign the `CollabRefund` EIP-712 typed data. The client signs\nthis, then POSTs the signature to the collab-refund-evm endpoint.\n\nTwo settlement modes:\n- `mode=direct` (default): `sweepToken` = WBTC, `minAmountOut` = 0\n- `mode=swap-back`: `sweepToken` = original source token, includes DEX calldata from 1inch",
        "operationId": "collab_refund_evm_params",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Swap ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "mode",
            "in": "query",
            "description": "Settlement mode: \"direct\" (default) or \"swap-back\"",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "EIP-712 CollabRefund parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollabRefundEvmParams"
                }
              }
            }
          },
          "404": {
            "description": "Swap not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/vtxo-swap": {
      "post": {
        "tags": [
          "vtxo-swap"
        ],
        "summary": "Create a new VTXO swap",
        "operationId": "create_vtxo_swap",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateVtxoSwapRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Swap created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VtxoSwapResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/vtxo-swap/estimate": {
      "post": {
        "tags": [
          "vtxo-swap"
        ],
        "summary": "Estimate fee for VTXO swap",
        "operationId": "estimate_vtxo_swap",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EstimateVtxoSwapRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Estimate calculated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EstimateVtxoSwapResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/vtxo-swap/{id}": {
      "get": {
        "tags": [
          "vtxo-swap"
        ],
        "summary": "Get VTXO swap by ID",
        "operationId": "get_vtxo_swap",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Swap ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Swap found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VtxoSwapResponse"
                }
              }
            }
          },
          "404": {
            "description": "Swap not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/chain-config": {
      "get": {
        "tags": [
          "swap-pairs"
        ],
        "summary": "Return per-chain configuration (BTC-pegged token, … more to come).",
        "operationId": "get_chain_config",
        "responses": {
          "200": {
            "description": "Per-chain configuration (BTC pivot, contracts, …)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChainConfigResponse"
                }
              }
            }
          }
        }
      }
    },
    "/dex-calldata/claim": {
      "post": {
        "tags": [
          "dex-calldata"
        ],
        "summary": "Fetch fresh calldata for the **claim** flow.",
        "description": "User redeems tBTC from the HTLC and swaps it for the foreign target\nlanding on the same EOA. The server uses `recipient = sender`.\n\nStateless — no swap-id binding, no persistence. The SDK is expected to\ncall this immediately before submitting a user op so the calldata stays\nfresh; on `AA23 reverted` / slippage failure the SDK should retry.",
        "operationId": "post_dex_calldata_claim",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DexCalldataRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Fresh calldata ready to be embedded in a user op",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DexCalldataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (unsupported chain pair, unknown token, malformed amount, slippage out of range)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Upstream router failed or returned no routable path for the requested pair",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/dex-calldata/fund": {
      "post": {
        "tags": [
          "dex-calldata"
        ],
        "summary": "Fetch fresh calldata for the **fund** flow.",
        "description": "User spends source tokens on their own EOA; the swap output lands on\nthe HTLC coordinator (derived server-side from `to_chain`).\n\nStateless — no swap-id binding, no persistence. The SDK is expected to\ncall this immediately before submitting a user op so the calldata stays\nfresh; on `AA23 reverted` / slippage failure the SDK should retry.",
        "operationId": "post_dex_calldata_fund",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DexCalldataRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Fresh calldata ready to be embedded in a user op",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DexCalldataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (unsupported chain pair, unknown token, malformed amount, slippage out of range)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Upstream router failed or returned no routable path for the requested pair",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/dex-quote": {
      "post": {
        "tags": [
          "dex-quote"
        ],
        "summary": "Quote the EVM leg of a foreign-target swap.",
        "description": "Read-only price discovery — no calldata is constructed and no slippage\nis applied. For execution, call [`/dex-calldata`] which returns\nslippage-adjusted bounds plus the bytes to submit.",
        "operationId": "post_dex_quote",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DexQuoteRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Price estimate for the requested EVM leg",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DexQuoteResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (unsupported chain pair, unknown token, malformed amount)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Upstream router failed or returned no routable path for the requested pair",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/evm-tokens": {
      "get": {
        "tags": [
          "evm-tokens"
        ],
        "summary": "Get available EVM tokens from 1inch for supported chains",
        "operationId": "get_evm_tokens",
        "parameters": [
          {
            "name": "chain_id",
            "in": "query",
            "description": "Filter by EVM chain ID (1=Ethereum, 137=Polygon, 42161=Arbitrum). Omit for all chains.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "EVM tokens grouped by chain ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvmTokensResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid chain ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/evm-tokens/chains": {
      "get": {
        "tags": [
          "evm-tokens"
        ],
        "summary": "Get supported EVM chains",
        "operationId": "get_evm_chains",
        "responses": {
          "200": {
            "description": "List of supported EVM chains",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvmChainsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "tags": [
          "health"
        ],
        "summary": "Health check endpoint",
        "operationId": "health_check",
        "responses": {
          "200": {
            "description": "Service is healthy",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/mtp": {
      "get": {
        "tags": [
          "mtp"
        ],
        "summary": "Return the current cached Median Time Past (MTP) and tip height.",
        "operationId": "get_mtp",
        "responses": {
          "200": {
            "description": "Return the current MTP and tip height",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MtpResponse"
                }
              }
            }
          },
          "503": {
            "description": "MTP not available yet (cache not populated)"
          }
        }
      }
    },
    "/network-fees": {
      "get": {
        "tags": [
          "swap-pairs"
        ],
        "summary": "Return per-pair network-fee estimates in sats at current gas / mining\nprices.",
        "operationId": "get_network_fees",
        "responses": {
          "200": {
            "description": "Per-pair network-fee estimates in sats",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NetworkFeesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/quote": {
      "get": {
        "tags": [
          "quote"
        ],
        "summary": "Get a quote for swapping BTC to/from EVM tokens",
        "description": "Specify exactly one of source_amount or target_amount.\nAmounts are in the smallest unit of the respective token (satoshis for BTC, raw units for EVM\ntokens).",
        "operationId": "get_quote",
        "parameters": [
          {
            "name": "source_chain",
            "in": "query",
            "description": "Source blockchain (e.g., \"Arkade\", \"Lightning\", \"Bitcoin\", \"Polygon\", \"Ethereum\",\n\"Arbitrum\")",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Chain"
            }
          },
          {
            "name": "source_token",
            "in": "query",
            "description": "Source token: contract address for EVM tokens, or \"btc\" for BTC",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "target_chain",
            "in": "query",
            "description": "Target blockchain",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Chain"
            }
          },
          {
            "name": "target_token",
            "in": "query",
            "description": "Target token: contract address for EVM tokens, or \"btc\" for BTC",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source_amount",
            "in": "query",
            "description": "Amount in smallest unit of source token (mutually exclusive with target_amount)",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int64",
              "minimum": 0
            }
          },
          {
            "name": "target_amount",
            "in": "query",
            "description": "Amount in smallest unit of target token (mutually exclusive with source_amount)",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int64",
              "minimum": 0
            }
          },
          {
            "name": "bridge_target_chain",
            "in": "query",
            "description": "Optional: CCTP bridge destination chain (e.g., \"Base\", \"Optimism\").\nWhen set, the CCTP forwarding fee is deducted from the target amount.",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          },
          {
            "name": "bridge_source_chain",
            "in": "query",
            "description": "Optional: CCTP bridge source chain (e.g., \"Optimism\", \"Base\"). Set when\nthe user's source USDC originates on another CCTP chain and hops to\nArbitrum via CCTPv2 before the HTLC is created. The quote internally\nruns the DEX calculation on Arbitrum-native USDC and accounts for the\nfast-transfer fee deducted on the burn.",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          },
          {
            "name": "bridge_recipient_setup",
            "in": "query",
            "description": "`true` when the recipient's USDC token account on the destination\nchain does NOT yet exist and Circle's forwarder needs to create it\n(only meaningful for non-EVM destinations like Solana — adds\n~$0.05 of ATA rent to `forwardFee`). `false` (default) confirms\nthe recipient already holds USDC, and is correct for all EVM\ndestinations. Solana callers are responsible for probing the\ndestination chain and setting this correctly.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "ref",
            "in": "query",
            "description": "Optional referral code for tracking.",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          },
          {
            "name": "extra_fees",
            "in": "query",
            "description": "Optional per-swap fee surcharge in basis points\n(0..=max_extra_fee_bps configured on the matching developer key).\nRejected with 400 if it exceeds the per-key cap.",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int32",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Return a quote for swapping BTC to/from EVM tokens",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuoteResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/referral-fee": {
      "get": {
        "tags": [
          "swap-pairs"
        ],
        "summary": "Resolve the referral/extra-fee delta for a referral code.",
        "operationId": "get_referral_fee",
        "parameters": [
          {
            "name": "ref",
            "in": "query",
            "description": "Referral code. When omitted/unknown/revoked the response is a zero\nextra fee (the base fee applies unchanged).",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          },
          {
            "name": "extra_fees",
            "in": "query",
            "description": "Optional per-swap fee surcharge in basis points. Rejected with 400 if\nit exceeds the referral key's `max_extra_fee_bps`. When omitted the\nkey's `default_extra_fee_bps` applies.",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int32",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The extra-fee delta (decimal fraction) for the referral code",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReferralFeeResponse"
                }
              }
            }
          },
          "400": {
            "description": "extra_fees exceeds the referral key's cap",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/status": {
      "get": {
        "tags": [
          "status"
        ],
        "summary": "Probe every external dependency and return their aggregated health.",
        "description": "Returns 200 when every service is healthy, 503 otherwise — the body\ncarries the per-service breakdown either way so callers can distinguish\nwhich dependency is down.",
        "operationId": "get_status",
        "responses": {
          "200": {
            "description": "All external dependencies are healthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "503": {
            "description": "At least one external dependency is unhealthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          }
        }
      }
    },
    "/support-agents": {
      "get": {
        "tags": [
          "support"
        ],
        "summary": "Return the configured support agent npubs.",
        "operationId": "get_support_agents",
        "responses": {
          "200": {
            "description": "List of support agent npubs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SupportAgentsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/swap-pairs": {
      "get": {
        "tags": [
          "swap-pairs"
        ],
        "summary": "Return all supported swap pairs with their limits (in satoshis) and base fee percentages.",
        "operationId": "get_swap_pairs",
        "responses": {
          "200": {
            "description": "Supported swap pairs with limits and fees",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SwapPairsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/swap/arkade/evm": {
      "post": {
        "tags": [
          "swap-btc-evm"
        ],
        "summary": "Create a chain-agnostic Arkade-to-EVM swap.",
        "operationId": "create_arkade_evm_swap",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ArkadeToEvmSwapRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Swap created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArkadeToEvmSwapResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict - a swap with this preimage hash exists already",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/swap/arkade/lightning": {
      "post": {
        "tags": [
          "swap-btc-arkade"
        ],
        "summary": "Create a new Arkade-to-Lightning swap.",
        "description": "Flow:\n1. User provides a Lightning invoice they want paid\n2. Server creates a Boltz submarine swap\n3. User funds the Arkade VHTLC (returned in response)\n4. Server claims the Arkade VHTLC and funds the Boltz VHTLC\n5. Boltz pays the Lightning invoice",
        "operationId": "create_arkade_to_lightning_swap",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ArkadeToLightningSwapRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Swap created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArkadeToLightningSwapResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict - a swap with this preimage hash exists already",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/swap/bitcoin/arkade": {
      "post": {
        "tags": [
          "swap-btc-arkade"
        ],
        "summary": "Create a new Bitcoin (on-chain) to Arkade swap request",
        "description": "The user provides an on-chain BTC amount to swap and receives Arkade VTXOs.\nFlow:\n1. User sends BTC to the Taproot HTLC address returned\n2. After 1 confirmation, server creates Arkade VHTLC for user\n3. User claims Arkade VHTLC with secret, revealing it\n4. Server claims on-chain BTC with the revealed secret",
        "operationId": "bitcoin_to_arkade_swap",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BitcoinToArkadeSwapRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Swap created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BtcToArkadeSwapResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict - a swap with this preimage hash exists already",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/swap/bitcoin/evm": {
      "post": {
        "tags": [
          "swap-btc-evm"
        ],
        "summary": "Create a chain-agnostic Bitcoin-to-EVM swap.",
        "operationId": "create_bitcoin_evm_swap",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BitcoinToEvmSwapRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Swap created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BitcoinToEvmSwapResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict - a swap with this preimage hash exists already",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/swap/bulk-status": {
      "post": {
        "tags": [
          "swaps"
        ],
        "summary": "Get the status of multiple swaps at once.",
        "description": "Returns only the swap status (not the full per-direction details) so the\nwhole batch is served by a single database query. Use `GET /swap/{id}` when\nfull details are needed for a specific swap.",
        "operationId": "get_bulk_status",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkStatusRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Bulk lookup completed; see `not_found` for unresolved IDs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - too many IDs requested",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/swap/evm/arkade": {
      "post": {
        "tags": [
          "swap-evm-btc"
        ],
        "summary": "Create a chain-agnostic EVM-to-Arkade swap.",
        "operationId": "create_evm_to_arkade_swap_generic",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EvmToArkadeGenericSwapRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Swap created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvmToArkadeSwapResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict - a swap with this preimage hash exists already",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/swap/evm/bitcoin": {
      "post": {
        "tags": [
          "swap-evm-btc"
        ],
        "summary": "Create a chain-agnostic EVM-to-Bitcoin swap.",
        "operationId": "create_evm_to_bitcoin_swap",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EvmToBitcoinSwapRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Swap created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvmToBitcoinSwapResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict - a swap with this preimage hash exists already",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/swap/evm/lightning": {
      "post": {
        "tags": [
          "swap-evm-btc"
        ],
        "summary": "Create a chain-agnostic EVM-to-Lightning swap.",
        "description": "Flow:\n1. User provides their Lightning invoice (they want to receive BTC)\n2. Server prepares Boltz submarine swap to pay the invoice\n3. User funds EVM HTLCErc20 with tokens\n4. Server pays Lightning invoice via Boltz (gets preimage)\n5. Server claims EVM HTLCErc20 using preimage",
        "operationId": "create_evm_to_lightning_swap_generic",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EvmToLightningSwapRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Swap created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvmToLightningSwapResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict - a swap with this preimage hash exists already",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/swap/lightning/arkade": {
      "post": {
        "tags": [
          "swap-btc-arkade"
        ],
        "summary": "Create a new Lightning-to-Arkade swap.",
        "description": "Flow:\n1. User pays the Lightning invoice returned\n2. Server receives BTC via Boltz and creates Arkade VHTLC for user\n3. User claims Arkade VHTLC with secret, revealing it\n4. Server claims Boltz VHTLC with the revealed secret",
        "operationId": "create_lightning_to_arkade_swap",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LightningToArkadeSwapRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Swap created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LightningToArkadeSwapResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict - a swap with this preimage hash exists already",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/swap/lightning/evm": {
      "post": {
        "tags": [
          "swap-btc-evm"
        ],
        "summary": "Create a chain-agnostic Lightning-to-EVM swap.",
        "operationId": "create_lightning_evm_swap",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LightningToEvmSwapRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Swap created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LightningToEvmSwapResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict - a swap with this preimage hash exists already",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/swap/recover": {
      "post": {
        "tags": [
          "recovery"
        ],
        "summary": "Recover swaps by deriving user_id keys from an Xpub",
        "description": "This endpoint allows clients to recover their swap history after importing a mnemonic. The\nclient provides an Xpub they used to derive `user_id`s, and the server derives `user_id` keys at\nm/9419/121923/<index> from the requested start index until the server-owned gap limit or scan\ncap is reached.",
        "operationId": "recover_swaps",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecoveryRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Swaps recovered successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecoveryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid xpub format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too many recovery requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/swap/{id}": {
      "get": {
        "tags": [
          "swaps"
        ],
        "summary": "Get swap status and details by ID",
        "operationId": "get_swap",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Swap ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Swap found successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSwapResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - swap not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/swap/{id}/claim-gasless": {
      "post": {
        "tags": [
          "swap-btc-evm"
        ],
        "summary": "Claims an EVM-targeted swap gaslessly via the HTLCCoordinator contract.",
        "description": "Supports Arkade-to-EVM, Lightning and Bitcoin-to-EVM swaps. The server submits\n`coordinator.redeemAndExecute` on the client's behalf, using the client's\nEIP-712 signature and secret.\n\n# Prerequisites — what the client must do before calling this endpoint\n\n1. **Create a swap** via one of the swap endpoints (e.g. `POST /swap/arkade/evm`). Wait for the\n   swap status to reach `ServerFunded`.\n\n2. **Fetch calldata** via [`GET\n   /swap/{id}/redeem-and-swap-calldata`](#/redeem-and-swap-calldata/get_dex_calldata). This\n   returns:\n   - `dex_calldata` — DEX swap calldata (only for non-WBTC targets)\n   - `gasless_fee_sats` — the fee deducted from the HTLC amount\n   - `calls_hash` — `keccak256(abi.encode(calls))`, must be included in the signature\n\n3. **Construct the EIP-712 signature** over the `Redeem` struct:\n\n   **Domain:**\n   ```text\n   EIP712Domain(string name, string version, uint256 chainId, address verifyingContract)\n   name            = \"HTLCErc20\"\n   version         = \"4\"\n   chainId         = <target EVM chain ID>\n   verifyingContract = <HTLCErc20 contract address (swap.evm_htlc_address)>\n   ```\n\n   **Struct:**\n   ```text\n   Redeem(\n       bytes32 preimage,       // the swap secret\n       uint256 amount,         // WBTC amount in the HTLC (in sats)\n       address token,          // WBTC token address\n       address sender,         // server's EVM address\n       uint256 timelock,       // HTLC refund locktime\n       address caller,         // HTLCCoordinator contract address\n       address destination,    // where output tokens go\n       address sweepToken,     // target token (or WBTC if direct)\n       uint256 minAmountOut,   // slippage protection from step 2\n       bytes32 callsHash       // from step 2\n   )\n   ```\n\n   The final digest is: `keccak256(\\x19\\x01 || domainSeparator || structHash)`\n\n   Sign this digest with the client's EVM private key (secp256k1) to obtain\n   `v`, `r`, `s`.\n\n   **JavaScript example (using ethers v6):**\n\n   ```javascript\n   import { ethers } from \"ethers\";\n\n   // 1. Fetch calldata (returns calls_hash + optional dex_calldata)\n   const { calls_hash, dex_calldata, gasless_fee_sats, min_amount_out } = await fetch(\n     `${baseUrl}/swap/${swapId}/redeem-and-swap-calldata?destination=${destination}`\n   ).then(r => r.json());\n\n   // 2. Determine sweepToken\n   const needsDexSwap = targetTokenAddress.toLowerCase() !== wbtcAddress.toLowerCase();\n   const sweepToken = needsDexSwap ? targetTokenAddress : wbtcAddress;\n\n   // 3. Build EIP-712 typed data and sign\n   const wallet = new ethers.Wallet(privateKey);\n\n   const domain = {\n     name: \"HTLCErc20\",\n     version: \"4\",\n     chainId: swap.evm_chain_id,               // e.g. 42161 for Arbitrum\n     verifyingContract: swap.evm_htlc_address,  // HTLCErc20 contract\n   };\n\n   const types = {\n     Redeem: [\n       { name: \"preimage\",     type: \"bytes32\" },\n       { name: \"amount\",       type: \"uint256\" },\n       { name: \"token\",        type: \"address\" },\n       { name: \"sender\",       type: \"address\" },\n       { name: \"timelock\",     type: \"uint256\" },\n       { name: \"caller\",       type: \"address\" },\n       { name: \"destination\",  type: \"address\" },\n       { name: \"sweepToken\",   type: \"address\" },\n       { name: \"minAmountOut\", type: \"uint256\" },\n       { name: \"callsHash\",   type: \"bytes32\" },\n     ],\n   };\n\n   const message = {\n     preimage:     secret,                        // 0x-prefixed 32-byte hex\n     amount:       swap.evm_expected_sats,        // WBTC sats locked in HTLC\n     token:        wbtcAddress,                   // WBTC on the target chain\n     sender:       swap.server_evm_address,       // server (HTLC creator)\n     timelock:     swap.evm_refund_locktime,      // HTLC expiry timestamp\n     caller:       swap.evm_coordinator_address,  // HTLCCoordinator contract\n     destination:  destination,                   // where output tokens go\n     sweepToken:   sweepToken,\n     minAmountOut: min_amount_out,                // from step 1\n     callsHash:    calls_hash,                    // from step 1\n   };\n\n   const sig = await wallet.signTypedData(domain, types, message);\n   const { v, r, s } = ethers.Signature.from(sig);\n\n   // 4. POST to claim-gasless\n   await fetch(`${baseUrl}/swap/${swapId}/claim-gasless`, {\n     method: \"POST\",\n     headers: { \"Content-Type\": \"application/json\" },\n     body: JSON.stringify({\n       secret, destination, v, r, s,\n       dex_calldata: needsDexSwap ? dex_calldata : undefined,\n     }),\n   });\n   ```\n\n4. **POST** the request to this endpoint with the secret, destination, signature, and optionally\n   the `dex_calldata` from step 2.",
        "operationId": "claim_via_gasless",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Swap ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClaimGaslessRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Swap claimed successfully via gasless execution",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClaimGaslessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - swap not found or in wrong state",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/swap/{id}/fund-gasless": {
      "post": {
        "tags": [
          "swap-evm-btc"
        ],
        "summary": "Fund an EVM-sourced swap gaslessly via Permit2.",
        "description": "The server submits the `executeAndCreateWithPermit2` transaction on the\ndepositor's behalf, pulling tokens via the depositor's Permit2 signature.\nIf an EIP-2612 permit is provided, the server first submits that to approve\nthe Permit2 contract.",
        "operationId": "fund_gasless",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Swap ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FundGaslessRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Swap funded successfully via gasless relay",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FundGaslessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - swap not found or in wrong state",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/swap/{id}/redeem-and-swap-calldata": {
      "get": {
        "tags": [
          "redeem-and-swap-calldata"
        ],
        "summary": "Returns the gasless claim data for an EVM-targeted swap.",
        "description": "For non-WBTC targets: fetches fresh 1inch DEX calldata with `receiver = destination`.\nFor WBTC-direct targets: returns only the gasless fee and calls_hash (no DEX data).\n\nAlways returns `calls_hash` which the client must include in the EIP-712 redeem signature.",
        "operationId": "get_dex_calldata",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Swap ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "destination",
            "in": "query",
            "description": "EVM destination address for output tokens",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fresh DEX calldata with gasless fee estimate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RedeemAndSwapResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/swap/{id}/refund-and-swap-calldata": {
      "get": {
        "tags": [
          "refund-and-swap-calldata"
        ],
        "summary": "Returns calldata to refund an expired EVM-to-Arkade HTLC via the coordinator.",
        "description": "Two modes:\n- `mode=swap-back` (default): calls `refundAndExecute` — refund WBTC from expired HTLC, swap\n  WBTC → source token via 1inch, sweep to caller.\n- `mode=direct`: calls `refundTo` — refund WBTC directly to caller (no DEX).\n\nBoth are permissionless after the timelock expires.",
        "operationId": "get_refund_calldata",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Swap ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "mode",
            "in": "query",
            "description": "Refund mode: \"swap-back\" (default) or \"direct\"",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Refund calldata",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefundCalldataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/swap/{id}/swap-and-lock-calldata-permit2": {
      "get": {
        "tags": [
          "swap-and-lock-calldata-permit2"
        ],
        "summary": "Returns structured data for funding an EVM-to-BTC swap via Permit2.",
        "description": "Instead of pre-encoded calldata, this returns the individual components\nso the SDK can construct the Permit2 EIP-712 signature and\n`executeAndCreateWithPermit2` calldata client-side.\n\nThe calls array contains only [approve(dexRouter, amount), dexSwap(...)].\nNo `transferFrom` — Permit2 handles the token pull.",
        "operationId": "get_coordinator_funding_calldata_permit2",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Swap ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Permit2 funding data",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/swap/{id}/swap-and-lock-calldata-userop": {
      "get": {
        "tags": [
          "swap-and-lock-calldata-userop"
        ],
        "summary": "Returns data for funding an EVM-to-BTC swap via the depositor's\nEIP-7702-delegated EOA. The client composes a UserOperation that\nexecutes receiveMessage (for CCTP-inbound) + USDC.approve(Permit2,\nmax) + executeAndCreateWithPermit2 atomically. Because the EOA\naddress and the smart-account address are the same under 7702,\nCCTPv2's `destinationCaller` is pinned to the user's EOA directly.",
        "operationId": "get_coordinator_funding_calldata_userop",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Swap ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "UserOp funding data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UseropFundingCalldataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/tokens": {
      "get": {
        "tags": [
          "tokens"
        ],
        "summary": "Get list of available tokens for swaps.",
        "description": "Optionally pass `source_chain` + `source_token` **or** `target_chain` + `target_token`\nto filter the response to valid counterparty tokens.",
        "operationId": "get_tokens",
        "parameters": [
          {
            "name": "source_chain",
            "in": "query",
            "description": "If set together with `source_token`, return only valid target tokens.",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "type": "null"
                },
                {
                  "$ref": "#/components/schemas/Chain"
                }
              ]
            }
          },
          {
            "name": "target_chain",
            "in": "query",
            "description": "If set together with `target_token`, return only valid source tokens.",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "type": "null"
                },
                {
                  "$ref": "#/components/schemas/Chain"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Return list of available tokens for swaps",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenInfos"
                }
              }
            }
          }
        }
      }
    },
    "/version": {
      "get": {
        "tags": [
          "version"
        ],
        "summary": "Return the current git tag and commit hash.",
        "operationId": "get_version",
        "responses": {
          "200": {
            "description": "Return the deployed version and commit hash",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Version"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AaConfig": {
        "type": "object",
        "description": "ERC-4337 / Kernel addresses the client needs to assemble its\nUserOperation. Under EIP-7702 the depositor's EOA IS the smart\naccount, so there's no factory, no salt, no counterfactual address\nto derive — only the delegation target the EOA upgrades to.",
        "required": [
          "entry_point",
          "delegation_target"
        ],
        "properties": {
          "delegation_target": {
            "type": "string",
            "description": "Kernel implementation contract the depositor's EOA delegates to\nvia the first UserOp's `eip7702Auth` tuple. Subsequent UserOps\nfrom the same EOA reuse the on-chain delegation and omit the\nauth."
          },
          "entry_point": {
            "type": "string",
            "description": "Canonical EntryPoint v0.7 deployment."
          }
        }
      },
      "AmountU256": {
        "type": "string"
      },
      "ArkadeToEvmSwapRequest": {
        "type": "object",
        "description": "Chain-agnostic request for Arkade-to-EVM swaps.\n\nThe caller specifies the target chain via `evm_chain_id` and the token\nvia its ERC-20 contract `token_address`. This endpoint supports any token\nreachable through 1inch aggregation (which covers Uniswap, Curve, etc.).",
        "required": [
          "claiming_address",
          "target_address",
          "evm_chain_id",
          "token_address",
          "hash_lock",
          "arkade_htlc_script_version",
          "refund_pk",
          "user_id"
        ],
        "properties": {
          "amount_in": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "description": "How many sats the user wants to send (mutually exclusive with `amount_out`).\nValue is in satoshis (smallest BTC unit).",
            "minimum": 0
          },
          "amount_out": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "description": "How much target token the user wants to receive (mutually exclusive with `amount_in`).\nValue is in the target token's smallest unit (e.g. for USDC with 6 decimals, 1000000 = 1\nUSDC).",
            "minimum": 0
          },
          "arkade_htlc_script_version": {
            "type": "integer",
            "format": "int64",
            "description": "Arkade HTLC script version. New swaps must use version 1."
          },
          "bridge_recipient_setup": {
            "type": "boolean",
            "description": "ATA-existence flag for non-EVM CCTP destinations (Solana).\nSee `BitcoinToEvmSwapRequest::bridge_recipient_setup`."
          },
          "bridge_target_chain": {
            "type": [
              "string",
              "null"
            ],
            "description": "Optional: CCTP bridge destination chain (e.g., \"Ethereum\", \"Arbitrum\"). When set,\nUSDC will be bridged to this chain after the DEX swap."
          },
          "bridge_target_token_address": {
            "type": [
              "string",
              "null"
            ],
            "description": "Optional: USDC address on the bridge destination chain."
          },
          "claiming_address": {
            "type": "string",
            "description": "EVM address that will sign the HTLC claim (SDK-derived for gasless claims)."
          },
          "evm_chain_id": {
            "type": "integer",
            "format": "int64",
            "description": "Numeric EVM chain ID: 1 (Ethereum), 137 (Polygon), 42161 (Arbitrum).",
            "minimum": 0
          },
          "extra_fees": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32",
            "description": "Optional per-swap fee surcharge in basis points\n(0..=max_extra_fee_bps configured on the matching developer key).",
            "minimum": 0
          },
          "gasless": {
            "type": "boolean",
            "description": "Whether the server should execute the DEX swap on behalf of the user (gasless claim).\nWhen true, the gasless network fee is added to the total fee charged.\nDefaults to true."
          },
          "hash_lock": {
            "type": "string",
            "description": "Hash lock provided by the client (32-byte hex string with 0x prefix)."
          },
          "referral_code": {
            "type": [
              "string",
              "null"
            ],
            "description": "Optional referral code for tracking."
          },
          "refund_pk": {
            "type": "string",
            "description": "Refund public key used to generate the Arkade VHTLC."
          },
          "target_address": {
            "type": "string",
            "description": "Recipient where tokens land after the claim (user's final destination).\nAn EVM hex address, or a base58 Solana pubkey for a Solana bridge target."
          },
          "token_address": {
            "type": "string",
            "description": "ERC-20 contract address of the desired token on the target chain."
          },
          "user_id": {
            "type": "string",
            "description": "User ID derived from wallet for recovery purposes."
          }
        }
      },
      "ArkadeToEvmSwapResponse": {
        "type": "object",
        "description": "Arkade → EVM swap response",
        "required": [
          "id",
          "status",
          "fee_sats",
          "hash_lock",
          "source_token",
          "target_token",
          "created_at",
          "chain",
          "evm_chain_id",
          "source_amount",
          "evm_expected_sats",
          "target_amount",
          "btc_vhtlc_address",
          "evm_htlc_address",
          "evm_coordinator_address",
          "wbtc_address",
          "client_evm_address",
          "server_evm_address",
          "evm_refund_locktime",
          "sender_pk",
          "receiver_pk",
          "arkade_server_pk",
          "vhtlc_refund_locktime",
          "arkade_htlc_script_version",
          "unilateral_claim_delay",
          "unilateral_refund_delay",
          "unilateral_refund_without_receiver_delay",
          "network"
        ],
        "properties": {
          "arkade_htlc_script_version": {
            "type": "integer",
            "format": "int64"
          },
          "arkade_server_pk": {
            "type": "string"
          },
          "bridge_target_chain": {
            "type": [
              "string",
              "null"
            ],
            "description": "CCTP bridge destination chain. When set, USDC is bridged cross-chain after the swap."
          },
          "bridge_target_token_address": {
            "type": [
              "string",
              "null"
            ],
            "description": "USDC address on the bridge destination chain."
          },
          "btc_claim_txid": {
            "type": [
              "string",
              "null"
            ]
          },
          "btc_fund_txid": {
            "type": [
              "string",
              "null"
            ]
          },
          "btc_vhtlc_address": {
            "type": "string"
          },
          "chain": {
            "type": "string"
          },
          "client_evm_address": {
            "type": "string",
            "description": "EVM address that will sign the HTLC claim (SDK-derived for gasless claims)."
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "evm_chain_id": {
            "type": "integer",
            "format": "int64"
          },
          "evm_claim_txid": {
            "type": [
              "string",
              "null"
            ]
          },
          "evm_coordinator_address": {
            "type": "string"
          },
          "evm_expected_sats": {
            "type": "string"
          },
          "evm_fund_txid": {
            "type": [
              "string",
              "null"
            ]
          },
          "evm_htlc_address": {
            "type": "string"
          },
          "evm_refund_locktime": {
            "type": "integer",
            "format": "int64"
          },
          "fee_sats": {
            "type": "integer",
            "format": "int64"
          },
          "hash_lock": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "network": {
            "type": "string"
          },
          "receiver_pk": {
            "type": "string"
          },
          "sender_pk": {
            "type": "string"
          },
          "server_evm_address": {
            "type": "string"
          },
          "source_amount": {
            "type": "string"
          },
          "source_token": {
            "$ref": "#/components/schemas/TokenInfo"
          },
          "status": {
            "$ref": "#/components/schemas/SwapStatus"
          },
          "target_amount": {
            "type": "string"
          },
          "target_evm_address": {
            "type": [
              "string",
              "null"
            ],
            "description": "EVM address where tokens are swept after the claim (user's final destination)."
          },
          "target_token": {
            "$ref": "#/components/schemas/TokenInfo"
          },
          "unilateral_claim_delay": {
            "type": "integer",
            "format": "int64"
          },
          "unilateral_refund_delay": {
            "type": "integer",
            "format": "int64"
          },
          "unilateral_refund_without_receiver_delay": {
            "type": "integer",
            "format": "int64"
          },
          "vhtlc_refund_locktime": {
            "type": "integer",
            "format": "int64"
          },
          "wbtc_address": {
            "type": "string",
            "description": "WBTC token contract address on the target EVM chain (the token locked in the HTLC)."
          }
        }
      },
      "ArkadeToLightningCollabRefundRequest": {
        "type": "object",
        "description": "Request for a collaborative VHTLC refund.",
        "required": [
          "ark_tx",
          "checkpoint"
        ],
        "properties": {
          "ark_tx": {
            "type": "string",
            "description": "Base64-encoded ark transaction PSBT, partially signed by the sender (client)."
          },
          "checkpoint": {
            "type": "string",
            "description": "Base64-encoded checkpoint transaction PSBT (unsigned)."
          }
        }
      },
      "ArkadeToLightningCollabRefundResponse": {
        "type": "object",
        "description": "Response with cosigned PSBTs for a collaborative refund.",
        "required": [
          "ark_tx",
          "checkpoint"
        ],
        "properties": {
          "ark_tx": {
            "type": "string",
            "description": "Base64-encoded ark transaction PSBT with receiver cosignature added."
          },
          "checkpoint": {
            "type": "string",
            "description": "Base64-encoded checkpoint PSBT with receiver cosignature added."
          }
        }
      },
      "ArkadeToLightningSwapRequest": {
        "type": "object",
        "description": "Request for creating an Arkade-to-Lightning swap.\n\nThe user sends Arkade VTXOs and a Lightning invoice gets paid.",
        "required": [
          "refund_pk",
          "user_id"
        ],
        "properties": {
          "amount_sats": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "description": "Amount in satoshis the recipient should receive on Lightning.\nRequired when `lightning_address` or `lnurl` is provided; ignored when\n`lightning_invoice` is provided (amount is read from the invoice).",
            "minimum": 0
          },
          "lightning_address": {
            "type": [
              "string",
              "null"
            ],
            "description": "Lightning address (e.g. `user@speed.app`) to resolve via LNURL-pay.\nMutually exclusive with `lightning_invoice` and `lnurl`. Requires `amount_sats`."
          },
          "lightning_invoice": {
            "type": [
              "string",
              "null"
            ],
            "description": "Lightning BOLT11 invoice the user wants paid."
          },
          "lnurl": {
            "type": [
              "string",
              "null"
            ],
            "description": "Raw LNURL string (e.g. `lnurl1...`) to resolve via LNURL-pay.\nMutually exclusive with `lightning_invoice` and `lightning_address`. Requires\n`amount_sats`."
          },
          "referral_code": {
            "type": [
              "string",
              "null"
            ],
            "description": "Optional referral code for fee tracking."
          },
          "refund_pk": {
            "type": "string",
            "description": "User's refund public key for the Arkade VHTLC (if swap fails/expires)."
          },
          "user_id": {
            "type": "string",
            "description": "User ID derived from wallet for recovery purposes."
          }
        }
      },
      "ArkadeToLightningSwapResponse": {
        "type": "object",
        "description": "Arkade → Lightning swap response.",
        "required": [
          "id",
          "status",
          "fee_sats",
          "hash_lock",
          "source_token",
          "target_token",
          "created_at",
          "source_amount",
          "target_amount",
          "client_lightning_invoice",
          "boltz_swap_id",
          "boltz_vhtlc_address",
          "boltz_amount_sats",
          "arkade_vhtlc_address",
          "sender_pk",
          "receiver_pk",
          "arkade_server_pk",
          "vhtlc_refund_locktime",
          "unilateral_claim_delay",
          "unilateral_refund_delay",
          "unilateral_refund_without_receiver_delay",
          "network"
        ],
        "properties": {
          "arkade_claim_txid": {
            "type": [
              "string",
              "null"
            ],
            "description": "Arkade VHTLC claim transaction ID (server claim)"
          },
          "arkade_fund_txid": {
            "type": [
              "string",
              "null"
            ],
            "description": "Arkade VHTLC fund transaction ID"
          },
          "arkade_server_pk": {
            "type": "string",
            "description": "Arkade server's public key"
          },
          "arkade_vhtlc_address": {
            "type": "string",
            "description": "Arkade VHTLC address (user funds)"
          },
          "boltz_amount_sats": {
            "type": "integer",
            "format": "int64",
            "description": "Amount server must fund on Boltz VHTLC"
          },
          "boltz_swap_id": {
            "type": "string",
            "description": "Boltz submarine swap ID"
          },
          "boltz_vhtlc_address": {
            "type": "string",
            "description": "Boltz VHTLC address (server funds for Boltz to claim)"
          },
          "client_lightning_invoice": {
            "type": "string",
            "description": "User's Lightning invoice"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "fee_sats": {
            "type": "integer",
            "format": "int64"
          },
          "hash_lock": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "network": {
            "type": "string",
            "description": "Bitcoin network"
          },
          "receiver_pk": {
            "type": "string",
            "description": "Server's claim public key (receiver in the VHTLC)"
          },
          "sender_pk": {
            "type": "string",
            "description": "User's refund public key (sender in the VHTLC)"
          },
          "source_amount": {
            "type": "string",
            "description": "Amount user sends on Arkade in sats"
          },
          "source_token": {
            "$ref": "#/components/schemas/TokenInfo"
          },
          "status": {
            "$ref": "#/components/schemas/SwapStatus"
          },
          "target_amount": {
            "type": "string",
            "description": "Amount user receives via Lightning in sats"
          },
          "target_token": {
            "$ref": "#/components/schemas/TokenInfo"
          },
          "unilateral_claim_delay": {
            "type": "integer",
            "format": "int64",
            "description": "Unilateral claim delay in seconds"
          },
          "unilateral_refund_delay": {
            "type": "integer",
            "format": "int64",
            "description": "Unilateral refund delay in seconds"
          },
          "unilateral_refund_without_receiver_delay": {
            "type": "integer",
            "format": "int64",
            "description": "Unilateral refund without receiver delay in seconds"
          },
          "vhtlc_refund_locktime": {
            "type": "integer",
            "format": "int64",
            "description": "VHTLC refund locktime"
          }
        }
      },
      "BitcoinToArkadeSwapRequest": {
        "type": "object",
        "required": [
          "target_arkade_address",
          "sats_receive",
          "claim_pk",
          "refund_pk",
          "hash_lock",
          "btc_htlc_script_version",
          "arkade_htlc_script_version",
          "user_id"
        ],
        "properties": {
          "arkade_htlc_script_version": {
            "type": "integer",
            "format": "int64",
            "description": "Arkade VHTLC script version. New swaps must use version 1."
          },
          "btc_htlc_script_version": {
            "type": "integer",
            "format": "int64",
            "description": "Bitcoin HTLC script version. New swaps must use version 1."
          },
          "claim_pk": {
            "type": "string",
            "description": "User's claim public key for the Arkade VHTLC"
          },
          "extra_fees": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32",
            "description": "Optional per-swap fee surcharge in basis points\n(0..=max_extra_fee_bps configured on the matching developer key).",
            "minimum": 0
          },
          "hash_lock": {
            "type": "string",
            "description": "Hash lock provided by the client (20-byte hex string, no 0x prefix).\nThe client generates a secret and computes HASH160(secret) = RIPEMD160(SHA256(secret)).\nThis hash is used for both the on-chain Bitcoin HTLC (OP_HASH160) and the Arkade VHTLC.\nClient will use the secret to claim the Arkade VHTLC later."
          },
          "referral_code": {
            "type": [
              "string",
              "null"
            ],
            "description": "Optional referral code for fee exemption"
          },
          "refund_pk": {
            "type": "string",
            "description": "User's refund public key for the on-chain Bitcoin HTLC"
          },
          "sats_receive": {
            "type": "integer",
            "format": "int64",
            "description": "Amount the user wants to receive on Arkade in satoshis"
          },
          "target_arkade_address": {
            "type": "string",
            "description": "User's target Arkade address to receive VTXOs"
          },
          "user_id": {
            "type": "string",
            "description": "User ID derived from wallet for recovery purposes"
          }
        }
      },
      "BitcoinToEvmSwapRequest": {
        "type": "object",
        "description": "Chain-agnostic request for Bitcoin-to-EVM swaps.\n\nThe caller specifies the target chain via `evm_chain_id` and the token\nvia its ERC-20 contract `token_address`. This endpoint supports any token\nreachable through 1inch aggregation (which covers Uniswap, Curve, etc.).",
        "required": [
          "claiming_address",
[...]
